In [1]:
import pandas as pd

### Reading Datasets

In [2]:
insurance=pd.read_csv('demo/insurance_data.csv')
insurance

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,A,Minor Loss,Ambulance,1,1,CT,Manchester,0,AGENT00779,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,A,Total Loss,Police,1,0,MA,Worcester,6,AGENT00254,VNDR00598
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,A,Major Loss,None,1,1,OK,Oklahoma City,12,AGENT00786,VNDR00104
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,A,Total Loss,Ambulance,0,1,AR,Fayetteville,6,AGENT00927,VNDR00185
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,A,Total Loss,Ambulance,1,0,CT,Manchester,13,AGENT00118,VNDR00163

In [3]:
employee=pd.read_csv('demo/employee_data.csv')
employee

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [4]:
vendor=pd.read_csv('demo/vendor_data.csv')
vendor

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210
...,...,...,...,...,...,...,...
595,VNDR00596,Rhodes-Mendez,1689 Fisher Pond Road,NaN,Saint Albans City,VT,5478
596,VNDR00597,Ortiz-Donovan,140 South Hill Avenue,#305,Fayetteville,AR,72701
597,VNDR00598,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587
598,VNDR00599,Reeves-Leonard,12420 West Montebello Avenue,NaN,Litchfield Park,AZ,85340
599,VNDR00600,"Jacobs, Fox and Torres",2426 East Onyx Trail,#6,Fayetteville,AR,72701

### Task1

#### Merge the 3 dataset and create 1 view of data.

In [5]:
#First merged the insurance & employee dataframe
insu_emp=pd.merge(insurance,employee,on=['AGENT_ID'],how='left')
#The Merged dataframe is now merged with vendor dataframe
all_data=pd.merge(insu_emp,vendor,on=['VENDOR_ID'],how='left')
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,AR,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,GA,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,KY,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,AR,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,OK,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0

### Task 2

#### Business Leader wants to find Top 3 Insurance Type where we are getting most insurance claims?

In [6]:
all_data['INSURANCE_TYPE'].value_counts().nlargest(3)

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

### Task 3

#### Business Leader wants to find Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segment?

In [7]:
#the data is group by risk_segmentation
high_risk=all_data.groupby('RISK_SEGMENTATION')
high_risk

In [8]:
for RISK_SEGMENTATION,RISK_SEGMENTATION_df in high_risk:
    print(RISK_SEGMENTATION)
    print(RISK_SEGMENTATION_df)

H
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
8     2020-06-01 00:00:00    TXN00000009   A00004671   PLC00006886
11    2020-06-01 00:00:00    TXN00000012   A00006313   PLC00002139
18    2020-06-01 00:00:00    TXN00000019   A00009265   PLC00000619
25    2020-06-01 00:00:00    TXN00000026   A00001186   PLC00007391
39    2020-06-02 00:00:00    TXN00000040   A00006283   PLC00008977
...                   ...            ...         ...           ...
9958  2021-06-29 00:00:00    TXN00009959   A00008989   PLC00006292
9962  2021-06-29 00:00:00    TXN00009963   A00008657   PLC00003051
9980  2021-06-30 00:00:00    TXN00009981   A00002277   PLC00003903
9988  2021-06-30 00:00:00    TXN00009989   A00003579   PLC00002683
9990  2021-06-30 00:00:00    TXN00009991   A00007116   PLC00009899

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
8       2019-06-27  2020-05-21  2020-05-26          Motor           82.14
11      2016-07-22  2020-05-21  2020-05-26          Motor          101.15
18      2017-11-03  2020-05-27  2020-05-28          Motor          116.55
25      2018-03-18  2020-05-27  2020-05-28       Property           87.09
39      2010-07-27  2020-05-18  2020-05-23         Mobile           11.04
...            ...         ...         ...            ...             ...
9958    2018-01-12  2021-06-09  2021-06-14         Health          112.88
9962    2013-02-04  2021-06-12  2021-06-17         Health          180.07
9980    2019-09-10  2021-06-11  2021-06-16          Motor           70.28
9988    2019-03-26  2021-06-13  2021-06-18         Travel           93.55
9990    2019-07-07  2021-06-15  2021-06-20          Motor          121.84

      CLAIM_AMOUNT  ... STATE_y POSTAL_CODE_y EMP_ROUTING_NUMBER  \
8             5000  ...      DC         20001           92228117
11            8000  ...      OK         73044           73263191
18            8000  ...      CO         80004          118471806
25           37000  ...      MD         21146          124127270
39             600  ...      CA         94705           24848170
...            ...  ...     ...           ...                ...
9958          2000  ...      GA         31407          106717925
9962         10000  ...      FL         32444           81234471
9980          9000  ...      FL         32404           18917431
9988          1000  ...      FL         32404           91931955
9990          7000  ...      CO         80005           16618389

         EMP_ACCT_NUMBER                VENDOR_NAME  \
8     VHVZ90875461509264                 Hanson Inc
11    GBXZ93703464051375                        NaN
18    YLMV72211135178869  Kaiser, Sanford and Lopez
25    RJVH50696223589264             Roberts-Garcia
39    EXSJ20983551845112                        NaN
...                  ...                        ...
9958  MWGP08083997541638                Mcclure Ltd
9962  LLIU27368345999658              Solis-Morales
9980  QRDZ64558803394539  Gordon, Young and Webster
9988  YEUS72714555462903         Gonzalez-Hernandez
9990  UMFF66290948364439              Rodriguez Inc

                     ADDRESS_LINE1 ADDRESS_LINE2          CITY  STATE  \
8            910 Arlington Terrace           NaN  Fayetteville     AR
11                             NaN           NaN           NaN    NaN
18           7529 West 72nd Avenue            #4        Arvada     CO
25            6624 Strawberry Lane           NaN    Louisville     KY
39                             NaN           NaN           NaN    NaN
...                            ...           ...           ...    ...
9958           243 Kentucky Avenue           NaN      Pasadena     MD
9962             1407 Walden Court           NaN       Crofton     MD
9980                82 Queen Court           NaN    Manchester     CT
9988               343 Daman Drive           NaN    Montgomery     AL
9990  1641 Kramer Street Northeast           NaN    Washington     DC

      POSTAL_CODE
8         72701.0
11            NaN
18        80003.0
25        40214.0
39            NaN
...           ...
9958      21122.0
9962      21114.0
9980       6040.0
9988      36108.0
9990      20002.0

[1455 rows x 53 columns]
L
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
6     2020-06-01 00:00:00    TXN00000007   A00007245   PLC00002796
...                   ...            ...         ...           ...
9987  2021-06-30 00:00:00    TXN00009988   A00005204   PLC00006063
9991  2021-06-30 00:00:00    TXN00009992   A00008542   PLC00000807
9992  2021-06-30 00:00:00    TXN00009993   A00005925   PLC00005916
9993  2021-06-30 00:00:00    TXN00009994   A00008267   PLC00009629
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
6       2012-10-26  2020-05-13  2020-05-18         Health          197.23
...            ...         ...         ...            ...             ...
9987    2012-11-22  2021-06-12  2021-06-17           Life           78.10
9991    2018-03-29  2021-06-26  2021-06-27         Travel           88.20
9992    2013-10-07  2021-06-29  2021-06-29         Mobile            6.41
9993    2016-08-22  2021-06-22  2021-06-25           Life           91.53
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59

      CLAIM_AMOUNT  ... STATE_y POSTAL_CODE_y EMP_ROUTING_NUMBER  \
0             9000  ...      TN         37217           35441155
1            26000  ...      AZ         85301           44055451
2            13000  ...      AL         36105           55770246
3            16000  ...      OK         73071           87652976
6             3000  ...      MA          1028           29678921
...            ...  ...     ...           ...                ...
9987         65000  ...      CA         93546           75419781
9991          3000  ...      VT          5650          129268260
9992           600  ...      CO         80003           87782095
9993         78000  ...      OK         73107           95424251
9996         67000  ...      GA         31405           91206790

         EMP_ACCT_NUMBER                       VENDOR_NAME  \
0     LRZO53254369804934                        Ramsey Inc
1     XBYG14382904542874  Morales, Campbell and Washington
2     WRXH14597428306333                       Johnson Ltd
3     YEPN16077902472499                  Blackwell-Foster
6     FBBJ92261917454231                        Moreno LLC
...                  ...                               ...
9987  BSRY60227494621328                         Smith PLC
9991  TYIH56206438423496                               NaN
9992  WJEL03829766240130  Morales, Campbell and Washington
9993  YVCD80951872205447                       Brown Group
9996  AHEF60771774635030          Newton, Hodges and Henry

                ADDRESS_LINE1 ADDRESS_LINE2          CITY  STATE  POSTAL_CODE
0        3114 West 20th Court           NaN   Panama City     FL      32405.0
1       42 West Louise Street             B  Fayetteville     AR      72701.0
2     2619 North Quality Lane          #315  Fayetteville     AR      72703.0
3           3609 Meadow Drive           NaN     Nashville     TN      37215.0
6          1261 Sioux Terrace           NaN     Nashville     TN      37115.0
...                       ...           ...           ...    ...          ...
9987   2314 Marian Bay Circle           NaN     Anchorage     AK      99515.0
9991                      NaN           NaN           NaN    NaN          NaN
9992    42 West Louise Street             B  Fayetteville     AR      72701.0
9993          6950 Reno Drive           NaN        Arvada     CO      80002.0
9996    32512 Christine Drive           NaN    Union City     CA      94587.0

[4395 rows x 53 columns]
M
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
5     2020-06-01 00:00:00    TXN00000006   A00003571   PLC00007244
10    2020-06-01 00:00:00    TXN00000011   A00007952   PLC00003007
12    2020-06-01 00:00:00    TXN00000013   A00003693   PLC00007839
16    2020-06-01 00:00:00    TXN00000017   A00007184   PLC00000118
...                   ...            ...         ...           ...
9994  2021-06-30 00:00:00    TXN00009995   A00003508   PLC00009242
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
5       2012-12-28  2020-05-20  2020-05-25           Life           87.02
10      2019-03-30  2020-05-20  2020-05-25           Life           61.45
12      2019-06-12  2020-05-24  2020-05-27         Health          157.95
16      2014-04-17  2020-05-13  2020-05-18       Property          114.42
...            ...         ...         ...            ...             ...
9994    2011-10-01  2021-06-24  2021-06-26       Property          135.33
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ... STATE_y POSTAL_CODE_y EMP_ROUTING_NUMBER  \
4             3000  ...      MD         21061           76119019
5            63000  ...      CA         93311           35911575
10           92000  ...      AL         36108          123461076
12           11000  ...      OK         73068          112506777
16           39000  ...      MA          2155           12632408
...            ...  ...     ...           ...                ...
9994         34000  ...      KY         40245           88548490
9995          1000  ...      AR         72703           35413882
9997          8000  ...      KY         40272          115241097
9998          2000  ...      AR         72703           13995380
9999           300  ...      OK         73003           39790996

         EMP_ACCT_NUMBER                  VENDOR_NAME  \
4     HZBK86544578578547                  Evans-Scott
5     VHQA45663806811975                          NaN
10    YIAT74328087165676               Foster-Sanchez
12    PEUK68232037630713            Armstrong-Ramirez
16    QBSF82653869882343                    Moore Inc
...                  ...                          ...
9994  VZTY16125395831114                      Lee PLC
9995  LFOJ76068590051807                          NaN
9997  WREH18805592939657               Reese-Mckinney
9998  AAZI21883736448048  Harmon, Manning and Bradley
9999  RPES05613584687957               Foster-Sanchez

                  ADDRESS_LINE1 ADDRESS_LINE2          CITY  STATE  \
4     4001 19th Place Northeast           NaN    Washington     DC
5                           NaN           NaN           NaN    NaN
10          4255 Tanager Common           NaN       Fremont     CA
12             200 Boulder Road           NaN    Manchester     CT
16     2643 North Sierra Avenue           NaN  Fayetteville     AR
...                         ...           ...           ...    ...
9994        1650 Garland Avenue           NaN  Fayetteville     AR
9995                        NaN           NaN           NaN    NaN
9997         20 Garfield Street           NaN       Needham     MA
9998           1823 Dinger Road           NaN     Annapolis     MD
9999        4255 Tanager Common           NaN       Fremont     CA

      POSTAL_CODE
4         20018.0
5             NaN
10        94555.0
12         6040.0
16        72703.0
...           ...
9994      72703.0
9995          NaN
9997       2492.0
9998      21402.0
9999      94555.0

[4150 rows x 53 columns]

In [9]:
#high_risk states
high_risk_states=high_risk.get_group('H')
high_risk_states['STATE_x']

8       KY
11      TN
18      CT
25      MD
39      MA
        ..
9958    FL
9962    KY
9980    FL
9988    AL
9990    CA
Name: STATE_x, Length: 1455, dtype: object

#### Top 5 States where we are getting most insurance claims for customer belonging to HIGH(H) risk segment

In [10]:
high_risk_states['STATE_x'].value_counts().nlargest(5)

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE_x, dtype: int64

### Task 4

#### Business wants to create a new variable “COLOCATION” which will have following values IF Customer State == Incident State == Agent Address State THEN 1 ELSE 0

In [11]:
import numpy as np
all_data['COLOCATION'] = np.where((all_data['STATE_x'] == all_data['STATE_y']) & (all_data['STATE_x'] == all_data['INCIDENT_STATE']), '1', '0')
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0

In [12]:
all_data['COLOCATION'].mean()

inf

### Task 5

#### Data entry error was detected in the data and you are required to correct it. If for any claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1 Then Update “AUTHORITY_CONTACTED” to Police.

In [13]:
all_data.loc[all_data['POLICE_REPORT_AVAILABLE']== 1,'AUTHORITY_CONTACTED']='Police'
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0

### Task 7

#### Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by Total Claim Amount Approved under them in descending order

In [14]:
all_data_sort=all_data.sort_values(by=['AGENT_ID','INSURANCE_TYPE'],ascending=[True,True])

In [15]:
all_data_sort[['AGENT_ID','INSURANCE_TYPE']]

        AGENT_ID INSURANCE_TYPE
5563  AGENT00001         Mobile
7163  AGENT00001         Mobile
7963  AGENT00001         Mobile
87    AGENT00001          Motor
1460  AGENT00001          Motor
...          ...            ...
9375  AGENT01200         Mobile
1704  AGENT01200          Motor
6604  AGENT01200       Property
2091  AGENT01200         Travel
3907  AGENT01200         Travel

[10000 rows x 2 columns]

In [16]:
duplicate = all_data_sort[all_data_sort.duplicated(['AGENT_ID','INSURANCE_TYPE'])]
duplicate_removed=duplicate.drop_duplicates(subset=['AGENT_ID', 'INSURANCE_TYPE'],keep='first')
duplicate_removed[['AGENT_ID','INSURANCE_TYPE']]

        AGENT_ID INSURANCE_TYPE
7163  AGENT00001         Mobile
1460  AGENT00001          Motor
9903  AGENT00001       Property
5747  AGENT00002         Travel
5936  AGENT00003           Life
...          ...            ...
1456  AGENT01199         Health
8540  AGENT01200         Health
7956  AGENT01200           Life
9375  AGENT01200         Mobile
3907  AGENT01200         Travel

[2928 rows x 2 columns]

In [17]:
duplicate_removed['AGENT_ID'].value_counts(ascending=True)

AGENT00135    1
AGENT00824    1
AGENT00142    1
AGENT00143    1
AGENT00144    1
             ..
AGENT00434    5
AGENT00977    6
AGENT00319    6
AGENT00992    6
AGENT00920    6
Name: AGENT_ID, Length: 1150, dtype: int64

In [18]:
duplicate_removed['count_type'] = duplicate_removed.groupby('AGENT_ID')['AGENT_ID'].transform('count')

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/1694117607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicate_removed['count_type'] = duplicate_removed.groupby('AGENT_ID')['AGENT_ID'].transform('count')

In [19]:
duplicate_removed=duplicate_removed.loc[(duplicate_removed['count_type'] > 2) & (duplicate_removed['CLAIM_STATUS'] =="A")]

In [20]:
duplicate_removed.sort_values(by='CLAIM_AMOUNT',ascending=False)

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,count_type
8489,2021-05-03 00:00:00,TXN00008490,A00000368,PLC00000293,2011-09-16,2021-04-21,2021-04-26,Life,88.07,100000,...,111965940,FPTQ96765927624344,James PLC,7905 Old Heady Road,NaN,Louisville,KY,40299.0,0,3
4209,2020-11-18 00:00:00,TXN00004210,A00004501,PLC00004699,2016-01-20,2020-11-13,2020-11-14,Life,81.36,100000,...,102345346,NFUY75139296831747,"Blake, Jackson and Scott",5631 West Colter Street,#2129,Glendale,AZ,85301.0,0,3
3578,2020-10-24 00:00:00,TXN00003579,A00002406,PLC00001398,2019-12-31,2020-10-04,2020-10-09,Life,71.70,99000,...,11875541,VLYQ85993784438975,Lewis Ltd,204 North Holt Street,NaN,Montgomery,AL,36104.0,0,5
5307,2020-12-30 00:00:00,TXN00005308,A00003351,PLC00004131,2018-07-24,2020-12-10,2020-12-15,Life,92.96,99000,...,36205183,BIDG01180310048223,NaN,NaN,NaN,NaN,NaN,NaN,0,3
7174,2021-03-11 00:00:00,TXN00007175,A00002762,PLC00008271,2015-09-30,2021-03-08,2021-03-08,Life,91.34,99000,...,12600142,DVYU91103041490325,Harris Ltd,195 Nursery Street,#D10,Springfield,MA,1104.0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,2020-10-26 00:00:00,TXN00003644,A00005360,PLC00004300,2016-07-26,2020-10-19,2020-10-21,Mobile,10.31,100,...,67598283,BBGB88504168531175,Hayden Inc,210 Seaman,NaN,McCrory,AR,72101.0,0,4
5468,2021-01-05 00:00:00,TXN00005469,A00004017,PLC00009106,2012-03-27,2020-12-20,2020-12-25,Mobile,11.49,100,...,122275470,QMPS27927468997102,Smith-Price,2 Spencer Street,NaN,Lexington,MA,2420.0,0,3
5707,2021-01-14 00:00:00,TXN00005708,A00004352,PLC00000506,2019-04-23,2021-01-02,2021-01-07,Mobile,8.55,100,...,83152085,QCMT64286396497603,NaN,NaN,NaN,NaN,NaN,NaN,0,3
9734,2021-06-20 00:00:00,TXN00009735,A00009383,PLC00009547,2018-12-11,2021-06-18,2021-06-18,Mobile,6.82,100,...,83831597,XGTL98525614281505,Lewis-Campbell,819 Beazer Lane,NaN,Nashville,TN,37013.0,0,3
6842,2021-02-25 00:00:00,TXN00006843,A00000758,PLC00008287,2015-02-02,2021-02-13,2021-02-18,Mobile,9.78,100,...,105130053,PIFF65477094991415,Sanders-Stark,642 South 2nd Street,#608,Louisville,KY,40202.0,0,3

### Task 9

#### Business wants to give discount to customer who are loyal and under stress due to Covid19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it

In [21]:
all_data['ELIGIBLE_FOR_DISCOUNT'] = 0 

all_data.loc[
       (all_data['TENURE'] >60) & 
       (all_data['EMPLOYMENT_STATUS'] == 'N')  &   
       (all_data['NO_OF_FAMILY_MEMBERS'] >= 4),
       'ELIGIBLE_FOR_DISCOUNT'] = 1

In [22]:
all_data['ELIGIBLE_FOR_DISCOUNT'].mean()

0.0299

### Task 11

#### Find all low performing agents i.e. employees who are in the bottom 5 percentile based on Claims worked by them.

In [23]:
bottom=all_data['PERCENTILE_RANK'] = all_data.CLAIM_AMOUNT.rank(pct = True)

In [24]:
bottom=all_data[['AGENT_ID','CLAIM_AMOUNT','PERCENTILE_RANK']].sort_values(by=['PERCENTILE_RANK'],ascending=[True]).head(5)

In [25]:
bottom

        AGENT_ID  CLAIM_AMOUNT  PERCENTILE_RANK
4426  AGENT00369           100           0.0118
6221  AGENT00582           100           0.0118
5388  AGENT01149           100           0.0118
7852  AGENT00201           100           0.0118
8839  AGENT00458           100           0.0118

### Task 8

####  Mobile & Travel Insurance premium are discounted by 10% 
#### Health and Property Insurance premium are increased by 7%
#### Life and Motor Insurance premium are marginally increased by 2%
#### What will be overall change in % of the Premium Amount Collected for all these Customer?

In [26]:
all_data.INSURANCE_TYPE.unique()

array(['Health', 'Property', 'Travel', 'Life', 'Motor', 'Mobile'],
      dtype=object)

In [27]:
all_data['Changed_Amount'] = 0 
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Health'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']+((all_data['PREMIUM_AMOUNT']*7)/100)
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Property'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']+((all_data['PREMIUM_AMOUNT']*7)/100)
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Mobile'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']-((all_data['PREMIUM_AMOUNT']*10)/100)
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Travel'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']-((all_data['PREMIUM_AMOUNT']*10)/100)
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Life'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']+((all_data['PREMIUM_AMOUNT']*2)/100)
all_data.loc[
       (all_data['INSURANCE_TYPE'] == 'Motor'),
       'Changed_Amount'] = all_data['PREMIUM_AMOUNT']+((all_data['PREMIUM_AMOUNT']*2)/100)

In [28]:
all_data.sort_values(by='TXN_DATE_TIME',ascending=True).reset_index()

,index,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,...,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount
0,0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,...,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0.53930,168.1291
1,30,2020-06-01 00:00:00,TXN00000031,A00003691,PLC00009902,2010-07-03,2020-05-14,2020-05-19,Health,147.70,...,"Mora, Bass and Romero",8467 Chase Drive,NaN,Arvada,CO,80003.0,0,0,0.62250,158.0390
2,29,2020-06-01 00:00:00,TXN00000030,A00002422,PLC00005607,2019-06-29,2020-05-18,2020-05-23,Mobile,8.32,...,Cardenas-Mcknight,7420 Bearfoot Circle,#APT 000003,Anchorage,AK,99502.0,0,0,0.13050,7.4880
3,28,2020-06-01 00:00:00,TXN00000029,A00004865,PLC00007448,2016-08-29,2020-05-20,2020-05-25,Property,159.20,...,Hickman-Mendoza,7404 West Crest Lane,NaN,Glendale,AZ,85310.0,0,0,0.86385,170.3440
4,27,2020-06-01 00:00:00,TXN00000028,A00004112,PLC00003274,2014-06-23,2020-05-28,2020-05-29,Health,119.40,...,Salinas-Ferrell,2278 North Windswept Lane,NaN,Fayetteville,AR,72703.0,0,0,0.72130,127.7580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9976,2021-06-30 00:00:00,TXN00009977,A00000460,PLC00005731,2012-07-24,2021-06-14,2021-06-19,Property,132.33,...,Black-Fuentes,12 Winter Street,NaN,Manchester,CT,6040.0,0,0,0.84920,141.5931
9996,9975,2021-06-30 00:00:00,TXN00009976,A00002659,PLC00005667,2019-10-15,2021-06-24,2021-06-26,Motor,134.69,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.37080,137.3838
9997,9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,...,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,0,0,0.25695,115.7292
9998,9986,2021-06-30 00:00:00,TXN00009987,A00001625,PLC00000559,2014-11-17,2021-06-28,2021-06-28,Mobile,6.89,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.05855,6.2010
9999,9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,...,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0,0,0.05855,7.3980

In [29]:
all_data['sales_pct_changes'] = all_data['Changed_Amount'].pct_change()

In [30]:
#Overall Percent change
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0.53930,168.1291,NaN
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,42 West Louise Street,B,Fayetteville,AR,72701.0,0,0,0.78655,151.6297,-0.098135
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,0,0.62250,168.2468,0.109590
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0,0.67240,184.9709,0.099402
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,0,0.31430,79.6770,-0.569246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,NaN,NaN,NaN,NaN,0,0,0.19850,107.8650,-0.255092
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,32512 Christine Drive,NaN,Union City,CA,94587.0,0,0,0.94020,65.8818,-0.389220
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,20 Garfield Street,NaN,Needham,MA,2492.0,0,0,0.51505,196.3450,1.980262
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,1823 Dinger Road,NaN,Annapolis,MD,21402.0,0,0,0.25695,115.7292,-0.410582
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,4255 Tanager Common,NaN,Fremont,CA,94555.0,0,0,0.05855,7.3980,-0.936075

### Task 6

#### Business wants to check the Claim Amount for deviation for each transaction

#### Health Insurance Type

In [31]:
all_type=all_data.groupby('INSURANCE_TYPE')
all_type

In [32]:
for INSURANCE_TYPE,INSURANCE_TYPE_df in all_type:
    print(INSURANCE_TYPE)
    print(INSURANCE_TYPE_df)

Health
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
6     2020-06-01 00:00:00    TXN00000007   A00007245   PLC00002796
12    2020-06-01 00:00:00    TXN00000013   A00003693   PLC00007839
20    2020-06-01 00:00:00    TXN00000021   A00004720   PLC00003338
...                   ...            ...         ...           ...
9949  2021-06-29 00:00:00    TXN00009950   A00004404   PLC00007160
9958  2021-06-29 00:00:00    TXN00009959   A00008989   PLC00006292
9962  2021-06-29 00:00:00    TXN00009963   A00008657   PLC00003051
9979  2021-06-30 00:00:00    TXN00009980   A00002305   PLC00001801
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
6       2012-10-26  2020-05-13  2020-05-18         Health          197.23
12      2019-06-12  2020-05-24  2020-05-27         Health          157.95
20      2015-07-10  2020-05-30  2020-05-30         Health          155.23
...            ...         ...         ...            ...             ...
9949    2010-10-16  2021-06-27  2021-06-27         Health          127.89
9958    2018-01-12  2021-06-09  2021-06-14         Health          112.88
9962    2013-02-04  2021-06-12  2021-06-17         Health          180.07
9979    2012-04-20  2021-06-28  2021-06-28         Health          127.68
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50

      CLAIM_AMOUNT  ...         ADDRESS_LINE1 ADDRESS_LINE2         CITY  \
0             9000  ...  3114 West 20th Court           NaN  Panama City
3            16000  ...     3609 Meadow Drive           NaN    Nashville
6             3000  ...    1261 Sioux Terrace           NaN    Nashville
12           11000  ...      200 Boulder Road           NaN   Manchester
20           17000  ...      1693 Alice Court           NaN    Annapolis
...            ...  ...                   ...           ...          ...
9949          1000  ...                   NaN           NaN          NaN
9958          2000  ...   243 Kentucky Avenue           NaN     Pasadena
9962         10000  ...     1407 Walden Court           NaN      Crofton
9979         18000  ...  642 South 2nd Street          #608   Louisville
9997          8000  ...    20 Garfield Street           NaN      Needham

     STATE POSTAL_CODE  COLOCATION ELIGIBLE_FOR_DISCOUNT PERCENTILE_RANK  \
0       FL     32405.0           0                     0         0.53930
3       TN     37215.0           0                     0         0.67240
6       TN     37115.0           0                     0         0.31430
12      CT      6040.0           0                     0         0.59105
20      MD     21401.0           0                     0         0.68690
...    ...         ...         ...                   ...             ...
9949   NaN         NaN           0                     0         0.19850
9958    MD     21122.0           0                     0         0.25695
9962    MD     21114.0           0                     0         0.56740
9979    KY     40202.0           0                     0         0.70345
9997    MA      2492.0           0                     0         0.51505

      Changed_Amount  sales_pct_changes
0           168.1291                NaN
3           184.9709           0.099402
6           211.0361           1.377593
12          169.0065           0.638088
20          166.0961           1.110138
...              ...                ...
9949        136.8423           0.129371
9958        120.7816           0.651105
9962        192.6749           0.682974
9979        136.6176           0.261535
9997        196.3450           1.980262

[1690 rows x 58 columns]
Life
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
5     2020-06-01 00:00:00    TXN00000006   A00003571   PLC00007244
10    2020-06-01 00:00:00    TXN00000011   A00007952   PLC00003007
13    2020-06-01 00:00:00    TXN00000014   A00007988   PLC00002521
19    2020-06-01 00:00:00    TXN00000020   A00005314   PLC00001411
22    2020-06-01 00:00:00    TXN00000023   A00001482   PLC00007915
...                   ...            ...         ...           ...
9984  2021-06-30 00:00:00    TXN00009985   A00002790   PLC00002064
9985  2021-06-30 00:00:00    TXN00009986   A00001397   PLC00008000
9987  2021-06-30 00:00:00    TXN00009988   A00005204   PLC00006063
9993  2021-06-30 00:00:00    TXN00009994   A00008267   PLC00009629
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
5       2012-12-28  2020-05-20  2020-05-25           Life           87.02
10      2019-03-30  2020-05-20  2020-05-25           Life           61.45
13      2020-01-29  2020-05-18  2020-05-23           Life           64.16
19      2013-11-08  2020-05-17  2020-05-22           Life           77.17
22      2011-12-29  2020-05-28  2020-05-29           Life           81.45
...            ...         ...         ...            ...             ...
9984    2013-09-04  2021-06-15  2021-06-20           Life           75.47
9985    2019-03-08  2021-06-20  2021-06-23           Life           97.20
9987    2012-11-22  2021-06-12  2021-06-17           Life           78.10
9993    2016-08-22  2021-06-22  2021-06-25           Life           91.53
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59

      CLAIM_AMOUNT  ...           ADDRESS_LINE1 ADDRESS_LINE2  \
5            63000  ...                     NaN           NaN
10           92000  ...     4255 Tanager Common           NaN
13           51000  ...                     NaN           NaN
19           68000  ...                     NaN           NaN
22           80000  ...   14854 Bay View Circle           NaN
...            ...  ...                     ...           ...
9984         23000  ...        3189 Main Street            #1
9985         93000  ...      50 Winthrop Avenue           NaN
9987         65000  ...  2314 Marian Bay Circle           NaN
9993         78000  ...         6950 Reno Drive           NaN
9996         67000  ...   32512 Christine Drive           NaN

                   CITY STATE POSTAL_CODE  COLOCATION ELIGIBLE_FOR_DISCOUNT  \
5                   NaN   NaN         NaN           0                     0
10              Fremont    CA     94555.0           0                     0
13                  NaN   NaN         NaN           0                     0
19                  NaN   NaN         NaN           0                     0
22    Panama City Beach    FL     32413.0           0                     0
...                 ...   ...         ...         ...                   ...
9984      Mammoth Lakes    CA     93546.0           0                     0
9985           Lawrence    MA      1843.0           0                     0
9987          Anchorage    AK     99515.0           0                     0
9993             Arvada    CO     80002.0           0                     0
9996         Union City    CA     94587.0           0                     0

     PERCENTILE_RANK  Changed_Amount  sales_pct_changes
5            0.93335         88.7604           0.114003
10           0.98600         62.6790          -0.023098
13           0.91075         65.4432          -0.612777
19           0.94205         78.7134          -0.337881
22           0.96440         83.0790           9.088525
...              ...             ...                ...
9984         0.76330         76.9794           0.029770
9985         0.98785         99.1440           0.287929
9987         0.93710         79.6620          11.846638
9993         0.96055         93.3606          15.183151
9996         0.94020         65.8818          -0.389220

[1682 rows x 58 columns]
Mobile
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
14    2020-06-01 00:00:00    TXN00000015   A00005617   PLC00007011
21    2020-06-01 00:00:00    TXN00000022   A00004728   PLC00004242
29    2020-06-01 00:00:00    TXN00000030   A00002422   PLC00005607
33    2020-06-02 00:00:00    TXN00000034   A00001581   PLC00002330
36    2020-06-02 00:00:00    TXN00000037   A00008207   PLC00008260
...                   ...            ...         ...           ...
9977  2021-06-30 00:00:00    TXN00009978   A00005544   PLC00004787
9982  2021-06-30 00:00:00    TXN00009983   A00004823   PLC00002309
9986  2021-06-30 00:00:00    TXN00009987   A00001625   PLC00000559
9992  2021-06-30 00:00:00    TXN00009993   A00005925   PLC00005916
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
14      2015-06-08  2020-05-20  2020-05-25         Mobile            6.76
21      2017-01-19  2020-05-26  2020-05-28         Mobile            9.15
29      2019-06-29  2020-05-18  2020-05-23         Mobile            8.32
33      2012-05-24  2020-05-25  2020-05-28         Mobile            8.38
36      2017-06-22  2020-05-17  2020-05-22         Mobile            8.27
...            ...         ...         ...            ...             ...
9977    2018-11-13  2021-06-21  2021-06-24         Mobile           11.97
9982    2014-04-18  2021-06-26  2021-06-27         Mobile            8.08
9986    2014-11-17  2021-06-28  2021-06-28         Mobile            6.89
9992    2013-10-07  2021-06-29  2021-06-29         Mobile            6.41
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ...            ADDRESS_LINE1 ADDRESS_LINE2          CITY  \
14             700  ...     740 East 34th Street           NaN      Savannah
21             300  ...                      NaN           NaN           NaN
29             600  ...     7420 Bearfoot Circle   #APT 000003     Anchorage
33             100  ...  17480 Beaujolais Circle           NaN     Anchorage
36             300  ...                      NaN           NaN           NaN
...            ...  ...                      ...           ...           ...
9977           200  ...    9030 Pennington PIace           NaN    Montgomery
9982           200  ...          8219 Minor Lane            #9    Louisville
9986           300  ...                      NaN           NaN           NaN
9992           600  ...    42 West Louise Street             B  Fayetteville
9999           300  ...      4255 Tanager Common           NaN       Fremont

     STATE POSTAL_CODE  COLOCATION ELIGIBLE_FOR_DISCOUNT PERCENTILE_RANK  \
14      GA     31401.0           0                     0         0.15655
21     NaN         NaN           0                     0         0.05855
29      AK     99502.0           0                     0         0.13050
33      AK     99577.0           0                     0         0.01180
36     NaN         NaN           0                     0         0.05855
...    ...         ...         ...                   ...             ...
9977    AL     36117.0           0                     0         0.03525
9982    KY     40219.0           0                     0         0.03525
9986   NaN         NaN           0                     0         0.05855
9992    AR     72701.0           0                     0         0.13050
9999    CA     94555.0           0                     0         0.05855

      Changed_Amount  sales_pct_changes
14             6.084          -0.907034
21             8.235          -0.950420
29             7.488          -0.956042
33             7.542          -0.855527
36             7.443          -0.890648
...              ...                ...
9977          10.773          -0.923916
9982           7.272          -0.927177
9986           6.201          -0.937455
9992           5.769          -0.927324
9999           7.398          -0.936075

[1692 rows x 58 columns]
Motor
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
7     2020-06-01 00:00:00    TXN00000008   A00004301   PLC00002925
8     2020-06-01 00:00:00    TXN00000009   A00004671   PLC00006886
11    2020-06-01 00:00:00    TXN00000012   A00006313   PLC00002139
15    2020-06-01 00:00:00    TXN00000016   A00008033   PLC00008152
18    2020-06-01 00:00:00    TXN00000019   A00009265   PLC00000619
...                   ...            ...         ...           ...
9975  2021-06-30 00:00:00    TXN00009976   A00002659   PLC00005667
9980  2021-06-30 00:00:00    TXN00009981   A00002277   PLC00003903
9990  2021-06-30 00:00:00    TXN00009991   A00007116   PLC00009899
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
7       2018-12-30  2020-05-14  2020-05-19          Motor           83.77
8       2019-06-27  2020-05-21  2020-05-26          Motor           82.14
11      2016-07-22  2020-05-21  2020-05-26          Motor          101.15
15      2011-01-25  2020-05-12  2020-05-17          Motor          128.73
18      2017-11-03  2020-05-27  2020-05-28          Motor          116.55
...            ...         ...         ...            ...             ...
9975    2019-10-15  2021-06-24  2021-06-26          Motor          134.69
9980    2019-09-10  2021-06-11  2021-06-16          Motor           70.28
9990    2019-07-07  2021-06-15  2021-06-20          Motor          121.84
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46

      CLAIM_AMOUNT  ...                    ADDRESS_LINE1 ADDRESS_LINE2  \
7             8000  ...  1729 Frankford Street Southeast           NaN
8             5000  ...            910 Arlington Terrace           NaN
11            8000  ...                              NaN           NaN
15            9000  ...             6624 Strawberry Lane           NaN
18            8000  ...            7529 West 72nd Avenue            #4
...            ...  ...                              ...           ...
9975          4000  ...                              NaN           NaN
9980          9000  ...                   82 Queen Court           NaN
9990          7000  ...     1641 Kramer Street Northeast           NaN
9995          1000  ...                              NaN           NaN
9998          2000  ...                 1823 Dinger Road           NaN

              CITY STATE POSTAL_CODE  COLOCATION ELIGIBLE_FOR_DISCOUNT  \
7       Washington    DC     20020.0           0                     0
8     Fayetteville    AR     72701.0           0                     0
11             NaN   NaN         NaN           0                     0
15      Louisville    KY     40214.0           0                     0
18          Arvada    CO     80003.0           0                     0
...            ...   ...         ...         ...                   ...
9975           NaN   NaN         NaN           0                     0
9980    Manchester    CT      6040.0           0                     0
9990    Washington    DC     20002.0           0                     0
9995           NaN   NaN         NaN           0                     0
9998     Annapolis    MD     21402.0           0                     0

     PERCENTILE_RANK  Changed_Amount  sales_pct_changes
7            0.51505         85.4454          -0.595115
8            0.42780         83.7828          -0.019458
11           0.51505        103.1730           0.646054
15           0.53930        131.3046          20.581953
18           0.51505        118.8810          -0.293143
...              ...             ...                ...
9975         0.37080        137.3838           0.165138
9980         0.53930         71.6856          -0.475283
9990         0.49060        124.2768          -0.229286
9995         0.19850        107.8650          -0.255092
9998         0.25695        115.7292          -0.410582

[1574 rows x 58 columns]
Property
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
16    2020-06-01 00:00:00    TXN00000017   A00007184   PLC00000118
17    2020-06-01 00:00:00    TXN00000018   A00007426   PLC00000165
23    2020-06-01 00:00:00    TXN00000024   A00001719   PLC00000786
...                   ...            ...         ...           ...
9967  2021-06-29 00:00:00    TXN00009968   A00001455   PLC00006751
9976  2021-06-30 00:00:00    TXN00009977   A00000460   PLC00005731
9978  2021-06-30 00:00:00    TXN00009979   A00004919   PLC00002891
9989  2021-06-30 00:00:00    TXN00009990   A00001933   PLC00005750
9994  2021-06-30 00:00:00    TXN00009995   A00003508   PLC00009242

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
16      2014-04-17  2020-05-13  2020-05-18       Property          114.42
17      2015-03-25  2020-05-22  2020-05-25       Property          157.18
23      2015-06-20  2020-05-22  2020-05-25       Property          153.04
...            ...         ...         ...            ...             ...
9967    2018-04-23  2021-06-21  2021-06-24       Property           81.99
9976    2012-07-24  2021-06-14  2021-06-19       Property          132.33
9978    2014-07-28  2021-06-17  2021-06-22       Property          101.21
9989    2012-09-13  2021-06-20  2021-06-23       Property          150.70
9994    2011-10-01  2021-06-24  2021-06-26       Property          135.33

      CLAIM_AMOUNT  ...                      ADDRESS_LINE1 ADDRESS_LINE2  \
1            26000  ...              42 West Louise Street             B
2            13000  ...            2619 North Quality Lane          #315
16           39000  ...           2643 North Sierra Avenue           NaN
17           40000  ...                                NaN           NaN
23           10000  ...                  1835 Pointer Lane           NaN
...            ...  ...                                ...           ...
9967         38000  ...                                NaN           NaN
9976         35000  ...                   12 Winter Street           NaN
9978         26000  ...                                NaN           NaN
9989         30000  ...  1700 William E Summers III Avenue          #201
9994         34000  ...                1650 Garland Avenue           NaN

              CITY STATE POSTAL_CODE  COLOCATION ELIGIBLE_FOR_DISCOUNT  \
1     Fayetteville    AR     72701.0           0                     0
2     Fayetteville    AR     72703.0           0                     0
16    Fayetteville    AR     72703.0           0                     0
17             NaN   NaN         NaN           0                     0
23    Fayetteville    AR     72701.0           0                     1
...            ...   ...         ...         ...                   ...
9967           NaN   NaN         NaN           0                     0
9976    Manchester    CT      6040.0           0                     0
9978           NaN   NaN         NaN           0                     0
9989    Louisville    KY     40211.0           0                     0
9994  Fayetteville    AR     72703.0           0                     0

     PERCENTILE_RANK  Changed_Amount  sales_pct_changes
1            0.78655        151.6297          -0.098135
2            0.62250        168.2468           0.109590
16           0.87870        122.4294          -0.067592
17           0.88590        168.1826           0.373711
23           0.56740        163.7528           0.971049

In [33]:
health=all_type.get_group('Health')
health

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0.53930,168.1291,NaN
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0,0.67240,184.9709,0.099402
6,2020-06-01 00:00:00,TXN00000007,A00007245,PLC00002796,2012-10-26,2020-05-13,2020-05-18,Health,197.23,3000,...,1261 Sioux Terrace,NaN,Nashville,TN,37115.0,0,0,0.31430,211.0361,1.377593
12,2020-06-01 00:00:00,TXN00000013,A00003693,PLC00007839,2019-06-12,2020-05-24,2020-05-27,Health,157.95,11000,...,200 Boulder Road,NaN,Manchester,CT,6040.0,0,0,0.59105,169.0065,0.638088
20,2020-06-01 00:00:00,TXN00000021,A00004720,PLC00003338,2015-07-10,2020-05-30,2020-05-30,Health,155.23,17000,...,1693 Alice Court,NaN,Annapolis,MD,21401.0,0,0,0.68690,166.0961,1.110138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9949,2021-06-29 00:00:00,TXN00009950,A00004404,PLC00007160,2010-10-16,2021-06-27,2021-06-27,Health,127.89,1000,...,NaN,NaN,NaN,NaN,NaN,0,0,0.19850,136.8423,0.129371
9958,2021-06-29 00:00:00,TXN00009959,A00008989,PLC00006292,2018-01-12,2021-06-09,2021-06-14,Health,112.88,2000,...,243 Kentucky Avenue,NaN,Pasadena,MD,21122.0,0,0,0.25695,120.7816,0.651105
9962,2021-06-29 00:00:00,TXN00009963,A00008657,PLC00003051,2013-02-04,2021-06-12,2021-06-17,Health,180.07,10000,...,1407 Walden Court,NaN,Crofton,MD,21114.0,0,0,0.56740,192.6749,0.682974
9979,2021-06-30 00:00:00,TXN00009980,A00002305,PLC00001801,2012-04-20,2021-06-28,2021-06-28,Health,127.68,18000,...,642 South 2nd Street,#608,Louisville,KY,40202.0,0,0,0.70345,136.6176,0.261535
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,20 Garfield Street,NaN,Needham,MA,2492.0,0,0,0.51505,196.3450,1.980262

In [34]:
avg_claim_health=health['CLAIM_AMOUNT'].mean()

In [35]:
avg_claim_health

10801.183431952662

In [36]:
health['CLAIM_DEVIATION_VALUE']=(avg_claim_health)/(health['CLAIM_AMOUNT'])

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/3717895219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  health['CLAIM_DEVIATION_VALUE']=(avg_claim_health)/(health['CLAIM_AMOUNT'])

In [37]:
health['CLAIM_DEVIATION'] = np.where((health['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/767636833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  health['CLAIM_DEVIATION'] = np.where((health['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

In [38]:
#### Life

In [39]:
life=all_type.get_group('Life')
avg_claim_life=life['CLAIM_AMOUNT'].mean()
life['CLAIM_DEVIATION_VALUE']=(avg_claim_life)/(life['CLAIM_AMOUNT'])
life['CLAIM_DEVIATION'] = np.where((life['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')
life

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/850193962.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life['CLAIM_DEVIATION_VALUE']=(avg_claim_life)/(life['CLAIM_AMOUNT'])
C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/850193962.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life['CLAIM_DEVIATION'] = np.where((life['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,CLAIM_DEVIATION_VALUE,CLAIM_DEVIATION
5,2020-06-01 00:00:00,TXN00000006,A00003571,PLC00007244,2012-12-28,2020-05-20,2020-05-25,Life,87.02,63000,...,NaN,NaN,NaN,0,0,0.93335,88.7604,0.114003,0.863277,0
10,2020-06-01 00:00:00,TXN00000011,A00007952,PLC00003007,2019-03-30,2020-05-20,2020-05-25,Life,61.45,92000,...,Fremont,CA,94555.0,0,0,0.98600,62.6790,-0.023098,0.591157,0
13,2020-06-01 00:00:00,TXN00000014,A00007988,PLC00002521,2020-01-29,2020-05-18,2020-05-23,Life,64.16,51000,...,NaN,NaN,NaN,0,0,0.91075,65.4432,-0.612777,1.066401,0
19,2020-06-01 00:00:00,TXN00000020,A00005314,PLC00001411,2013-11-08,2020-05-17,2020-05-22,Life,77.17,68000,...,NaN,NaN,NaN,0,0,0.94205,78.7134,-0.337881,0.799801,0
22,2020-06-01 00:00:00,TXN00000023,A00001482,PLC00007915,2011-12-29,2020-05-28,2020-05-29,Life,81.45,80000,...,Panama City Beach,FL,32413.0,0,0,0.96440,83.0790,9.088525,0.679831,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,2021-06-30 00:00:00,TXN00009985,A00002790,PLC00002064,2013-09-04,2021-06-15,2021-06-20,Life,75.47,23000,...,Mammoth Lakes,CA,93546.0,0,0,0.76330,76.9794,0.029770,2.364628,0
9985,2021-06-30 00:00:00,TXN00009986,A00001397,PLC00008000,2019-03-08,2021-06-20,2021-06-23,Life,97.20,93000,...,Lawrence,MA,1843.0,0,0,0.98785,99.1440,0.287929,0.584800,0
9987,2021-06-30 00:00:00,TXN00009988,A00005204,PLC00006063,2012-11-22,2021-06-12,2021-06-17,Life,78.10,65000,...,Anchorage,AK,99515.0,0,0,0.93710,79.6620,11.846638,0.836715,0
9993,2021-06-30 00:00:00,TXN00009994,A00008267,PLC00009629,2016-08-22,2021-06-22,2021-06-25,Life,91.53,78000,...,Arvada,CO,80002.0,0,0,0.96055,93.3606,15.183151,0.697262,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,Union City,CA,94587.0,0,0,0.94020,65.8818,-0.389220,0.811738,0

In [40]:
### Motor

In [41]:
motor=all_type.get_group('Motor')
avg_claim_motor=motor['CLAIM_AMOUNT'].mean()
motor['CLAIM_DEVIATION_VALUE']=(avg_claim_motor)/(motor['CLAIM_AMOUNT'])
motor['CLAIM_DEVIATION'] = np.where((motor['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')
motor

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2170282449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  motor['CLAIM_DEVIATION_VALUE']=(avg_claim_motor)/(motor['CLAIM_AMOUNT'])
C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2170282449.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  motor['CLAIM_DEVIATION'] = np.where((motor['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,CLAIM_DEVIATION_VALUE,CLAIM_DEVIATION
7,2020-06-01 00:00:00,TXN00000008,A00004301,PLC00002925,2018-12-30,2020-05-14,2020-05-19,Motor,83.77,8000,...,Washington,DC,20020.0,0,0,0.51505,85.4454,-0.595115,0.687976,0
8,2020-06-01 00:00:00,TXN00000009,A00004671,PLC00006886,2019-06-27,2020-05-21,2020-05-26,Motor,82.14,5000,...,Fayetteville,AR,72701.0,0,0,0.42780,83.7828,-0.019458,1.100762,0
11,2020-06-01 00:00:00,TXN00000012,A00006313,PLC00002139,2016-07-22,2020-05-21,2020-05-26,Motor,101.15,8000,...,NaN,NaN,NaN,0,0,0.51505,103.1730,0.646054,0.687976,0
15,2020-06-01 00:00:00,TXN00000016,A00008033,PLC00008152,2011-01-25,2020-05-12,2020-05-17,Motor,128.73,9000,...,Louisville,KY,40214.0,0,0,0.53930,131.3046,20.581953,0.611535,0
18,2020-06-01 00:00:00,TXN00000019,A00009265,PLC00000619,2017-11-03,2020-05-27,2020-05-28,Motor,116.55,8000,...,Arvada,CO,80003.0,0,0,0.51505,118.8810,-0.293143,0.687976,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9975,2021-06-30 00:00:00,TXN00009976,A00002659,PLC00005667,2019-10-15,2021-06-24,2021-06-26,Motor,134.69,4000,...,NaN,NaN,NaN,0,0,0.37080,137.3838,0.165138,1.375953,0
9980,2021-06-30 00:00:00,TXN00009981,A00002277,PLC00003903,2019-09-10,2021-06-11,2021-06-16,Motor,70.28,9000,...,Manchester,CT,6040.0,0,0,0.53930,71.6856,-0.475283,0.611535,0
9990,2021-06-30 00:00:00,TXN00009991,A00007116,PLC00009899,2019-07-07,2021-06-15,2021-06-20,Motor,121.84,7000,...,Washington,DC,20002.0,0,0,0.49060,124.2768,-0.229286,0.786259,0
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,NaN,NaN,0,0,0.19850,107.8650,-0.255092,5.503812,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,Annapolis,MD,21402.0,0,0,0.25695,115.7292,-0.410582,2.751906,0

In [42]:
### Mobile

In [43]:
mobile=all_type.get_group('Mobile')
avg_claim_mobile=mobile['CLAIM_AMOUNT'].mean()
mobile['CLAIM_DEVIATION_VALUE']=(avg_claim_mobile)/(mobile['CLAIM_AMOUNT'])
mobile['CLAIM_DEVIATION'] = np.where((mobile['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')
mobile

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2583331566.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile['CLAIM_DEVIATION_VALUE']=(avg_claim_mobile)/(mobile['CLAIM_AMOUNT'])
C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2583331566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile['CLAIM_DEVIATION'] = np.where((mobile['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,CLAIM_DEVIATION_VALUE,CLAIM_DEVIATION
14,2020-06-01 00:00:00,TXN00000015,A00005617,PLC00007011,2015-06-08,2020-05-20,2020-05-25,Mobile,6.76,700,...,Savannah,GA,31401.0,0,0,0.15655,6.084,-0.907034,0.581138,0
21,2020-06-01 00:00:00,TXN00000022,A00004728,PLC00004242,2017-01-19,2020-05-26,2020-05-28,Mobile,9.15,300,...,NaN,NaN,NaN,0,0,0.05855,8.235,-0.950420,1.355989,0
29,2020-06-01 00:00:00,TXN00000030,A00002422,PLC00005607,2019-06-29,2020-05-18,2020-05-23,Mobile,8.32,600,...,Anchorage,AK,99502.0,0,0,0.13050,7.488,-0.956042,0.677994,0
33,2020-06-02 00:00:00,TXN00000034,A00001581,PLC00002330,2012-05-24,2020-05-25,2020-05-28,Mobile,8.38,100,...,Anchorage,AK,99577.0,0,0,0.01180,7.542,-0.855527,4.067967,0
36,2020-06-02 00:00:00,TXN00000037,A00008207,PLC00008260,2017-06-22,2020-05-17,2020-05-22,Mobile,8.27,300,...,NaN,NaN,NaN,0,0,0.05855,7.443,-0.890648,1.355989,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9977,2021-06-30 00:00:00,TXN00009978,A00005544,PLC00004787,2018-11-13,2021-06-21,2021-06-24,Mobile,11.97,200,...,Montgomery,AL,36117.0,0,0,0.03525,10.773,-0.923916,2.033983,0
9982,2021-06-30 00:00:00,TXN00009983,A00004823,PLC00002309,2014-04-18,2021-06-26,2021-06-27,Mobile,8.08,200,...,Louisville,KY,40219.0,0,0,0.03525,7.272,-0.927177,2.033983,0
9986,2021-06-30 00:00:00,TXN00009987,A00001625,PLC00000559,2014-11-17,2021-06-28,2021-06-28,Mobile,6.89,300,...,NaN,NaN,NaN,0,0,0.05855,6.201,-0.937455,1.355989,0
9992,2021-06-30 00:00:00,TXN00009993,A00005925,PLC00005916,2013-10-07,2021-06-29,2021-06-29,Mobile,6.41,600,...,Fayetteville,AR,72701.0,0,0,0.13050,5.769,-0.927324,0.677994,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,Fremont,CA,94555.0,0,0,0.05855,7.398,-0.936075,1.355989,0

In [44]:
#### Travel

In [45]:
travel=all_type.get_group('Travel')
avg_claim_travel=travel['CLAIM_AMOUNT'].mean()
travel['CLAIM_DEVIATION_VALUE']=(avg_claim_travel)/(travel['CLAIM_AMOUNT'])
travel['CLAIM_DEVIATION'] = np.where((travel['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')
travel

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2579011738.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel['CLAIM_DEVIATION_VALUE']=(avg_claim_travel)/(travel['CLAIM_AMOUNT'])
C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/2579011738.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  travel['CLAIM_DEVIATION'] = np.where((travel['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,CLAIM_DEVIATION_VALUE,CLAIM_DEVIATION
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,Washington,DC,20018.0,0,0,0.31430,79.677,-0.569246,0.993214,0
9,2020-06-01 00:00:00,TXN00000010,A00002020,PLC00007657,2015-12-19,2020-05-15,2020-05-20,Travel,71.29,4000,...,NaN,NaN,NaN,0,0,0.37080,64.161,-0.234198,0.744910,0
45,2020-06-02 00:00:00,TXN00000046,A00000956,PLC00009442,2012-10-01,2020-05-28,2020-05-29,Travel,90.04,5000,...,Mexico Beach,FL,32456.0,0,0,0.42780,81.036,-0.065219,0.595928,0
55,2020-06-02 00:00:00,TXN00000056,A00004719,PLC00002737,2015-04-01,2020-05-16,2020-05-21,Travel,75.99,3000,...,Edmond,OK,73013.0,0,0,0.31430,68.391,-0.533522,0.993214,0
59,2020-06-02 00:00:00,TXN00000060,A00003178,PLC00003361,2019-08-30,2020-05-19,2020-05-24,Travel,97.08,2000,...,NaN,NaN,NaN,0,0,0.25695,87.372,10.407756,1.489820,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,2021-06-29 00:00:00,TXN00009971,A00005227,PLC00004359,2010-09-20,2021-06-27,2021-06-27,Travel,54.14,5000,...,Savannah,GA,31406.0,0,0,0.42780,48.726,-0.270009,0.595928,0
9972,2021-06-29 00:00:00,TXN00009973,A00009361,PLC00001736,2014-12-30,2021-06-14,2021-06-19,Travel,63.49,5000,...,Fayetteville,AR,72704.0,0,0,0.42780,57.141,-0.165242,0.595928,0
9983,2021-06-30 00:00:00,TXN00009984,A00008012,PLC00004200,2014-12-14,2021-06-26,2021-06-27,Travel,83.06,1000,...,Washington,DC,20019.0,0,0,0.19850,74.754,9.279703,2.979641,0
9988,2021-06-30 00:00:00,TXN00009989,A00003579,PLC00002683,2019-03-26,2021-06-13,2021-06-18,Travel,93.55,1000,...,Montgomery,AL,36108.0,0,0,0.19850,84.195,0.056903,2.979641,0
9991,2021-06-30 00:00:00,TXN00009992,A00008542,PLC00000807,2018-03-29,2021-06-26,2021-06-27,Travel,88.20,3000,...,NaN,NaN,NaN,0,0,0.31430,79.380,-0.361265,0.993214,0

In [46]:
### Property

In [47]:
property_1=all_type.get_group('Property')
avg_claim_property_1=property_1['CLAIM_AMOUNT'].mean()
property_1['CLAIM_DEVIATION_VALUE']=(avg_claim_property_1)/(property_1['CLAIM_AMOUNT'])
property_1['CLAIM_DEVIATION'] = np.where((property_1['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')
property_1

C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/1213663592.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_1['CLAIM_DEVIATION_VALUE']=(avg_claim_property_1)/(property_1['CLAIM_AMOUNT'])
C:\Users\Aditi\AppData\Local\Temp/ipykernel_4044/1213663592.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_1['CLAIM_DEVIATION'] = np.where((property_1['CLAIM_DEVIATION_VALUE'] < 0.5), '1', '0')

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,CLAIM_DEVIATION_VALUE,CLAIM_DEVIATION
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,Fayetteville,AR,72701.0,0,0,0.78655,151.6297,-0.098135,0.945149,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,Fayetteville,AR,72703.0,0,0,0.62250,168.2468,0.109590,1.890298,0
16,2020-06-01 00:00:00,TXN00000017,A00007184,PLC00000118,2014-04-17,2020-05-13,2020-05-18,Property,114.42,39000,...,Fayetteville,AR,72703.0,0,0,0.87870,122.4294,-0.067592,0.630099,0
17,2020-06-01 00:00:00,TXN00000018,A00007426,PLC00000165,2015-03-25,2020-05-22,2020-05-25,Property,157.18,40000,...,NaN,NaN,NaN,0,0,0.88590,168.1826,0.373711,0.614347,0
23,2020-06-01 00:00:00,TXN00000024,A00001719,PLC00000786,2015-06-20,2020-05-22,2020-05-25,Property,153.04,10000,...,Fayetteville,AR,72701.0,0,1,0.56740,163.7528,0.971049,2.457388,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9967,2021-06-29 00:00:00,TXN00009968,A00001455,PLC00006751,2018-04-23,2021-06-21,2021-06-24,Property,81.99,38000,...,NaN,NaN,NaN,0,0,0.87110,87.7293,-0.443834,0.646681,0
9976,2021-06-30 00:00:00,TXN00009977,A00000460,PLC00005731,2012-07-24,2021-06-14,2021-06-19,Property,132.33,35000,...,Manchester,CT,6040.0,0,0,0.84920,141.5931,0.030639,0.702111,0
9978,2021-06-30 00:00:00,TXN00009979,A00004919,PLC00002891,2014-07-28,2021-06-17,2021-06-22,Property,101.21,26000,...,NaN,NaN,NaN,0,0,0.78655,108.2947,9.052418,0.945149,0
9989,2021-06-30 00:00:00,TXN00009990,A00001933,PLC00005750,2012-09-13,2021-06-20,2021-06-23,Property,150.70,30000,...,Louisville,KY,40211.0,0,0,0.81360,161.2490,0.915185,0.819129,0
9994,2021-06-30 00:00:00,TXN00009995,A00003508,PLC00009242,2011-10-01,2021-06-24,2021-06-26,Property,135.33,34000,...,Fayetteville,AR,72703.0,0,0,0.84145,144.8031,0.551009,0.722761,0

### Task 12

#### Business wants to find all Suspicious Employees (Agents).

In [48]:
all_data['SuspiciousORNot'] = np.where((all_data['CLAIM_AMOUNT'] >= 15000), 'Suspicious', 'NotSuspicious')

In [49]:
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,SuspiciousORNot
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,NaN,Panama City,FL,32405.0,0,0,0.53930,168.1291,NaN,NotSuspicious
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,B,Fayetteville,AR,72701.0,0,0,0.78655,151.6297,-0.098135,Suspicious
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,#315,Fayetteville,AR,72703.0,0,0,0.62250,168.2468,0.109590,NotSuspicious
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,NaN,Nashville,TN,37215.0,0,0,0.67240,184.9709,0.099402,Suspicious
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,NaN,Washington,DC,20018.0,0,0,0.31430,79.6770,-0.569246,NotSuspicious
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,NaN,NaN,NaN,0,0,0.19850,107.8650,-0.255092,NotSuspicious
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,NaN,Union City,CA,94587.0,0,0,0.94020,65.8818,-0.389220,Suspicious
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,NaN,Needham,MA,2492.0,0,0,0.51505,196.3450,1.980262,NotSuspicious
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,NaN,Annapolis,MD,21402.0,0,0,0.25695,115.7292,-0.410582,NotSuspicious
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,NaN,Fremont,CA,94555.0,0,0,0.05855,7.3980,-0.936075,NotSuspicious

In [50]:
all_data['SUSPICIOUS'] = 0 

all_data.loc[
       (all_data['CLAIM_STATUS'] == 'A') & 
       (all_data['RISK_SEGMENTATION'] == 'H')  &   
       (all_data['INCIDENT_SEVERITY'] == 'Major Loss' ),
       'SUSPICIOUS'] = 1

In [51]:
all_data

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CITY,STATE,POSTAL_CODE,COLOCATION,ELIGIBLE_FOR_DISCOUNT,PERCENTILE_RANK,Changed_Amount,sales_pct_changes,SuspiciousORNot,SUSPICIOUS
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,Panama City,FL,32405.0,0,0,0.53930,168.1291,NaN,NotSuspicious,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,Fayetteville,AR,72701.0,0,0,0.78655,151.6297,-0.098135,Suspicious,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,Fayetteville,AR,72703.0,0,0,0.62250,168.2468,0.109590,NotSuspicious,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,Nashville,TN,37215.0,0,0,0.67240,184.9709,0.099402,Suspicious,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,Washington,DC,20018.0,0,0,0.31430,79.6770,-0.569246,NotSuspicious,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,NaN,NaN,0,0,0.19850,107.8650,-0.255092,NotSuspicious,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,Union City,CA,94587.0,0,0,0.94020,65.8818,-0.389220,Suspicious,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,Needham,MA,2492.0,0,0,0.51505,196.3450,1.980262,NotSuspicious,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,Annapolis,MD,21402.0,0,0,0.25695,115.7292,-0.410582,NotSuspicious,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,Fremont,CA,94555.0,0,0,0.05855,7.3980,-0.936075,NotSuspicious,0

In [52]:
all_data['SUSPICIOUS'].mean()

0.0439