In [2]:
import pandas as pd

In [3]:
insurance=pd.read_csv('demo/insurance_data.csv')

In [4]:
insurance

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,A,Minor Loss,Ambulance,1,1,CT,Manchester,0,AGENT00779,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,A,Total Loss,Police,1,0,MA,Worcester,6,AGENT00254,VNDR00598
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,A,Major Loss,None,1,1,OK,Oklahoma City,12,AGENT00786,VNDR00104
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,A,Total Loss,Ambulance,0,1,AR,Fayetteville,6,AGENT00927,VNDR00185
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,A,Total Loss,Ambulance,1,0,CT,Manchester,13,AGENT00118,VNDR00163

In [5]:
employee=pd.read_csv('demo/employee_data.csv')
employee

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134
...,...,...,...,...,...,...,...,...,...,...
1195,AGENT01196,Myrtle Mccatty,2005-09-14,3553 Brandywine Street Northwest,NaN,Washington,DC,20008,32137938,EWBR19907574832501
1196,AGENT01197,John Dorsey,1993-12-04,2315 Chestnut Street,NaN,Montgomery,AL,36107,70796687,KGEJ74846009867837
1197,AGENT01198,Ruth Bigbee,1993-09-05,1983 Reidsville Street,NaN,Annapolis,MD,21401,124993912,RASV88064214164820
1198,AGENT01199,Tommie Camacho,2004-10-25,5821 Taft Street,NaN,Arvada,CO,80004,19424059,UOFO11656245339211
1199,AGENT01200,Virginia Stachura,1999-05-25,3579 2nd Avenue,NaN,Edgewater,MD,21037,12226940,ALYY24945545778511

In [6]:
vendor=pd.read_csv('demo/vendor_data.csv')
vendor

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210
...,...,...,...,...,...,...,...
595,VNDR00596,Rhodes-Mendez,1689 Fisher Pond Road,NaN,Saint Albans City,VT,5478
596,VNDR00597,Ortiz-Donovan,140 South Hill Avenue,#305,Fayetteville,AR,72701
597,VNDR00598,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587
598,VNDR00599,Reeves-Leonard,12420 West Montebello Avenue,NaN,Litchfield Park,AZ,85340
599,VNDR00600,"Jacobs, Fox and Torres",2426 East Onyx Trail,#6,Fayetteville,AR,72701

In [7]:
insu_emp=pd.merge(insurance,employee,on=['AGENT_ID'],how='left')
insu_emp

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,Melissa Scott,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,VNDR00598,Freda Dudley,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,VNDR00104,Victor Perrin,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,VNDR00185,Maria Lynn,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,VNDR00163,Carl Balado,2007-10-26,1713 Apian Way,NaN,Edmond,OK,73003,39790996,RPES05613584687957

In [8]:
insu_emp['INSURANCE_TYPE'].value_counts().nlargest(3)

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

In [9]:
y=insu_emp.groupby('RISK_SEGMENTATION')
y

In [10]:
for RISK_SEGMENTATION,RISK_SEGMENTATION_df in y:
    print(RISK_SEGMENTATION)
    print(RISK_SEGMENTATION_df)

H
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
8     2020-06-01 00:00:00    TXN00000009   A00004671   PLC00006886
11    2020-06-01 00:00:00    TXN00000012   A00006313   PLC00002139
18    2020-06-01 00:00:00    TXN00000019   A00009265   PLC00000619
25    2020-06-01 00:00:00    TXN00000026   A00001186   PLC00007391
39    2020-06-02 00:00:00    TXN00000040   A00006283   PLC00008977
...                   ...            ...         ...           ...
9958  2021-06-29 00:00:00    TXN00009959   A00008989   PLC00006292
9962  2021-06-29 00:00:00    TXN00009963   A00008657   PLC00003051
9980  2021-06-30 00:00:00    TXN00009981   A00002277   PLC00003903
9988  2021-06-30 00:00:00    TXN00009989   A00003579   PLC00002683
9990  2021-06-30 00:00:00    TXN00009991   A00007116   PLC00009899

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
8       2019-06-27  2020-05-21  2020-05-26          Motor           82.14
11      2016-07-22  2020-05-21  2020-05-26          Motor          101.15
18      2017-11-03  2020-05-27  2020-05-28          Motor          116.55
25      2018-03-18  2020-05-27  2020-05-28       Property           87.09
39      2010-07-27  2020-05-18  2020-05-23         Mobile           11.04
...            ...         ...         ...            ...             ...
9958    2018-01-12  2021-06-09  2021-06-14         Health          112.88
9962    2013-02-04  2021-06-12  2021-06-17         Health          180.07
9980    2019-09-10  2021-06-11  2021-06-16          Motor           70.28
9988    2019-03-26  2021-06-13  2021-06-18         Travel           93.55
9990    2019-07-07  2021-06-15  2021-06-20          Motor          121.84

      CLAIM_AMOUNT  ...  VENDOR_ID       AGENT_NAME DATE_OF_JOINING  \
8             5000  ...  VNDR00437     Peter Thomas      2017-10-12
11            8000  ...        NaN   Michael Fowler      2002-10-08
18            8000  ...  VNDR00107  Geraldine Lopez      2001-04-30
25           37000  ...  VNDR00051   Sylvia Buckley      1996-10-19
39             600  ...        NaN    Laura Carroll      2007-05-31
...            ...  ...        ...              ...             ...
9958          2000  ...  VNDR00010  Sandra Holloway      2013-01-07
9962         10000  ...  VNDR00047  Margaret Styons      1995-09-09
9980          9000  ...  VNDR00521     Randall Anna      2001-02-18
9988          1000  ...  VNDR00355       Lisa Jones      1999-03-29
9990          7000  ...  VNDR00098      Mary Tademy      1996-10-24

                 ADDRESS_LINE1_y ADDRESS_LINE2_y          CITY_y STATE_y  \
8        1010 M Street Northwest             NaN      Washington      DC
11    1500 South Division Street             NaN         Guthrie      OK
18         8380 West 67th Avenue             NaN          Arvada      CO
25             517 Retford Drive             NaN    Severna Park      MD
39      7144 Marlborough Terrace             NaN        Berkeley      CA
...                          ...             ...             ...     ...
9958               4 Stemson Way             NaN  Port Wentworth      GA
9962                803 Kay Lane             NaN      Lynn Haven      FL
9980        4617 East 3rd Street             NaN     Panama City      FL
9988  4712 Cherokee Heights Road             NaN     Panama City      FL
9990      12493 West 84th Circle             NaN          Arvada      CO

     POSTAL_CODE_y  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
8            20001            92228117  VHVZ90875461509264
11           73044            73263191  GBXZ93703464051375
18           80004           118471806  YLMV72211135178869
25           21146           124127270  RJVH50696223589264
39           94705            24848170  EXSJ20983551845112
...            ...                 ...                 ...
9958         31407           106717925  MWGP08083997541638
9962         32444            81234471  LLIU27368345999658
9980         32404            18917431  QRDZ64558803394539
9988         32404            91931955  YEUS72714555462903
9990         80005            16618389  UMFF66290948364439

[1455 rows x 47 columns]
L
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
6     2020-06-01 00:00:00    TXN00000007   A00007245   PLC00002796
...                   ...            ...         ...           ...
9987  2021-06-30 00:00:00    TXN00009988   A00005204   PLC00006063
9991  2021-06-30 00:00:00    TXN00009992   A00008542   PLC00000807
9992  2021-06-30 00:00:00    TXN00009993   A00005925   PLC00005916
9993  2021-06-30 00:00:00    TXN00009994   A00008267   PLC00009629
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
6       2012-10-26  2020-05-13  2020-05-18         Health          197.23
...            ...         ...         ...            ...             ...
9987    2012-11-22  2021-06-12  2021-06-17           Life           78.10
9991    2018-03-29  2021-06-26  2021-06-27         Travel           88.20
9992    2013-10-07  2021-06-29  2021-06-29         Mobile            6.41
9993    2016-08-22  2021-06-22  2021-06-25           Life           91.53
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59

      CLAIM_AMOUNT  ...  VENDOR_ID       AGENT_NAME DATE_OF_JOINING  \
0             9000  ...  VNDR00556      Amy Wangler      1994-01-06
1            26000  ...  VNDR00592   Jessica Montez      2004-05-28
2            13000  ...  VNDR00031     Howard Smith      2004-08-01
3            16000  ...  VNDR00075  Patricia Tucker      2007-06-12
6             3000  ...  VNDR00150     Edgar Talley      2013-06-02
...            ...  ...        ...              ...             ...
9987         65000  ...  VNDR00186    Melinda Smith      2012-08-22
9991          3000  ...        NaN  Michael Blalock      2008-09-25
9992           600  ...  VNDR00592    Lauren Kimble      1998-07-29
9993         78000  ...  VNDR00560   James Santiago      1990-12-02
9996         67000  ...  VNDR00598     Freda Dudley      2013-01-17

                  ADDRESS_LINE1_y ADDRESS_LINE2_y           CITY_y STATE_y  \
0             584 Rural Hill Road             NaN        Nashville      TN
1           6114 West Glenn Drive              #1         Glendale      AZ
2     2500 Snowdoun Chambers Road             NaN       Montgomery      AL
3              313 Lone Oak Drive             NaN           Norman      OK
6                   44 Elm Street             NaN  East Longmeadow      MA
...                           ...             ...              ...     ...
9987              61 Callahan Way             #B4    Mammoth Lakes      CA
9991               848 Vermont 14             NaN         Woodbury      VT
9992           6534 Benton Circle             NaN           Arvada      CO
9993   2115 Northwest 22nd Street             NaN    Oklahoma City      OK
9996        1363 Dean Forest Road             NaN         Savannah      GA

     POSTAL_CODE_y  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
0            37217            35441155  LRZO53254369804934
1            85301            44055451  XBYG14382904542874
2            36105            55770246  WRXH14597428306333
3            73071            87652976  YEPN16077902472499
6             1028            29678921  FBBJ92261917454231
...            ...                 ...                 ...
9987         93546            75419781  BSRY60227494621328
9991          5650           129268260  TYIH56206438423496
9992         80003            87782095  WJEL03829766240130
9993         73107            95424251  YVCD80951872205447
9996         31405            91206790  AHEF60771774635030

[4395 rows x 47 columns]
M
            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
5     2020-06-01 00:00:00    TXN00000006   A00003571   PLC00007244
10    2020-06-01 00:00:00    TXN00000011   A00007952   PLC00003007
12    2020-06-01 00:00:00    TXN00000013   A00003693   PLC00007839
16    2020-06-01 00:00:00    TXN00000017   A00007184   PLC00000118
...                   ...            ...         ...           ...
9994  2021-06-30 00:00:00    TXN00009995   A00003508   PLC00009242
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
5       2012-12-28  2020-05-20  2020-05-25           Life           87.02
10      2019-03-30  2020-05-20  2020-05-25           Life           61.45
12      2019-06-12  2020-05-24  2020-05-27         Health          157.95
16      2014-04-17  2020-05-13  2020-05-18       Property          114.42
...            ...         ...         ...            ...             ...
9994    2011-10-01  2021-06-24  2021-06-26       Property          135.33
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ...  VENDOR_ID       AGENT_NAME DATE_OF_JOINING  \
4             3000  ...  VNDR00472      Brenda Bean      2010-01-19
5            63000  ...        NaN  Luciano Jackson      2009-08-01
10           92000  ...  VNDR00163     Joshua Losey      2004-10-09
12           11000  ...  VNDR00191   Charles George      1998-01-31
16           39000  ...  VNDR00238    Troy Caldwell      1990-10-04
...            ...  ...        ...              ...             ...
9994         34000  ...  VNDR00262    Mary Scribner      2000-07-15
9995          1000  ...        NaN    Melissa Scott      1990-10-12
9997          8000  ...  VNDR00104    Victor Perrin      1993-02-11
9998          2000  ...  VNDR00185       Maria Lynn      2010-04-16
9999           300  ...  VNDR00163      Carl Balado      2007-10-26

                ADDRESS_LINE1_y ADDRESS_LINE2_y        CITY_y STATE_y  \
4              120 Wells Avenue             NaN   Glen Burnie      MD
5      10826 Pointe Royal Drive             NaN   Bakersfield      CA
10    2246 West Fairview Avenue             NaN    Montgomery      AL
12      4717 Forest Hills Drive             NaN         Noble      OK
16                14 6th Street              #1       Medford      MA
...                         ...             ...           ...     ...
9994   14505 Landis Villa Drive             NaN    Louisville      KY
9995  2723 East Joyce Boulevard             NaN  Fayetteville      AR
9997         9912 Shirewick Way             NaN    Louisville      KY
9998    302 East Granada Street             NaN  Fayetteville      AR
9999             1713 Apian Way             NaN        Edmond      OK

     POSTAL_CODE_y  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
4            21061            76119019  HZBK86544578578547
5            93311            35911575  VHQA45663806811975
10           36108           123461076  YIAT74328087165676
12           73068           112506777  PEUK68232037630713
16            2155            12632408  QBSF82653869882343
...            ...                 ...                 ...
9994         40245            88548490  VZTY16125395831114
9995         72703            35413882  LFOJ76068590051807
9997         40272           115241097  WREH18805592939657
9998         72703            13995380  AAZI21883736448048
9999         73003            39790996  RPES05613584687957

[4150 rows x 47 columns]

In [11]:
h=y.get_group('H')
h['STATE_x']

8       KY
11      TN
18      CT
25      MD
39      MA
        ..
9958    FL
9962    KY
9980    FL
9988    AL
9990    CA
Name: STATE_x, Length: 1455, dtype: object

In [12]:
h['STATE_x'].value_counts().nlargest(5)

CA    148
AZ    105
FL    104
TN    100
AR     97
Name: STATE_x, dtype: int64

In [13]:
insu_emp.loc[insu_emp['POLICE_REPORT_AVAILABLE']== 1,'AUTHORITY_CONTACTED']='Police'
insu_emp

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,NaN,Melissa Scott,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,VNDR00598,Freda Dudley,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,VNDR00104,Victor Perrin,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,VNDR00185,Maria Lynn,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,VNDR00163,Carl Balado,2007-10-26,1713 Apian Way,NaN,Edmond,OK,73003,39790996,RPES05613584687957

In [14]:
insu_emp['eligible_for_discount'] = 0 # add a class column with 0 as default value

# find all rows that fulfills your conditions and set class to 1
insu_emp.loc[
       (insu_emp['TENURE'] >60) & # if tax is 0
       (insu_emp['EMPLOYMENT_STATUS'] == 'N')  & # if total is > 100  
       (insu_emp['NO_OF_FAMILY_MEMBERS'] >= 4),
       'eligible_for_discount'] = 1 # then set class to 1

In [15]:
insu_emp

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,eligible_for_discount
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,Melissa Scott,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,Freda Dudley,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,Victor Perrin,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,Maria Lynn,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,Carl Balado,2007-10-26,1713 Apian Way,NaN,Edmond,OK,73003,39790996,RPES05613584687957,0

In [16]:
#insu_emp['colocation'] = 0 # add a class column with 0 as default value

# find all rows that fulfills your conditions and set class to 1
#insu_emp.loc[
       #[insu_emp(insu_emp['STATE_x'] == insu_emp['STATE_y'] == insu_emp['INCIDENT_STATE'])],  # if tax is 0
       #'colocation'] = 1 # then set class to 1

import numpy as np
insu_emp['colocation'] = np.where((insu_emp['STATE_x'] == insu_emp['STATE_y']) & (insu_emp['STATE_x'] == insu_emp['INCIDENT_STATE']), '1', '0')
insu_emp

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,eligible_for_discount,colocation
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,1990-10-12,2723 East Joyce Boulevard,NaN,Fayetteville,AR,72703,35413882,LFOJ76068590051807,0,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030,0,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,1993-02-11,9912 Shirewick Way,NaN,Louisville,KY,40272,115241097,WREH18805592939657,0,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,2010-04-16,302 East Granada Street,NaN,Fayetteville,AR,72703,13995380,AAZI21883736448048,0,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,2007-10-26,1713 Apian Way,NaN,Edmond,OK,73003,39790996,RPES05613584687957,0,0

In [17]:
insu_emp.to_csv('dds.csv')

In [20]:
insurance= insurance.groupby(['INSURANCE_TYPE','CLAIM_AMOUNT'])['AGENT_ID'].nunique().reset_index()
insurance

    INSURANCE_TYPE  CLAIM_AMOUNT  AGENT_ID
0           Health          1000         1
1           Health          2000         1
2           Health          3000         1
3           Health          4000         1
4           Health          5000         1
..             ...           ...       ...
159         Travel          1000         1
160         Travel          2000         1
161         Travel          3000         1
162         Travel          4000         1
163         Travel          5000         1

[164 rows x 3 columns]